@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	max-width: 800px;
	margin: 50px auto;
	padding: 70px;
	background: #FFF;
	color: #444;
	font-size: 15px;
	line-height: 1.6;
	box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .4);
}

a {
	margin: 0;
	padding: 0 3px;
	border: none;
	text-decoration: none;
	color: #049;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

h1 {
	margin: 0 0 30px;
	font-size: 36px;
	font-weight: bold;
}

h1::before {
	content: "■";
	display: inline-block;
	margin: 0 5px 0 0;
	color: #255E69;
	font-size: 0.8em;
	vertical-align: middle;
}

h2 {
	margin: 50px 0 20px;
	padding: 0 0 0 5px;
	border-left: solid 5px #255E69;
	border-bottom: solid 1px #255E69;
	font-size: 24px;
}

h3 {
	margin: 50px 0 20px;
	padding: 0 0 0 5px;
	border-left: solid 5px #255E69;
	font-size: 18px;
}

h4 {
	margin: 35px 0 15px;
	font-size: 16px;
	line-height: 1.2;
}

h4 > small {
	font-size: 13px;
}

p + p {
	margin-top: 10px;
}

dl > dd + dt {
	margin-top: 10px;
}

dl > dd {
	padding: 0 0 0 10px;
}

ul {
	margin: 10px 0;
	padding: 0 0 0 25px;
}

li + li {
	margin-top: 5px;
}

footer {
	margin: 100px 0 0;
	padding: 5px 0;
	border-top: solid 1px #999;
}
